/*  font style  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  }

  .container {
    max-width: 90vw;
    margin: auto;
  }
  
 
  /* nuvber section */

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: certer;
    gap: 100px;
    padding: 15px 0px;
  }
  .nav-logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .title-g {
    background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-list-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-list-container li {
    list-style: none;
    color: #3c354f;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .nav-list-container li a {
    text-decoration: none;
    color: black;
  }
  .youtube {
    color: red;
  }
  .follow-content {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);

  }
  /* banner container */
  .banner-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    position: relative;
  }
  .banner-text-container {
    padding: 30px;
  }
  .banner-text-container h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .banner-text-icons {
    display: flex;
    gap: 8px;
    margin: 8px 0px;
    align-items: center;
  }
  .banner-bg-img {
    background-image: url("../images/Group\ 14.png");
    background-position: 100% 100%;
    background-size: cover;
    position: absolute;
    width: 55%;
    height: 100%;
  }
  .banner-btn-container {
    display: flex;
    gap: 15px;
    margin-top: 25px;
  }
  .banner-sign-in {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
    padding: 21px 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .banner-go {

    border: none;
    color: rgb(82, 76, 76);
    font-size: 18px;
    font-weight: 500;
    border-radius: 48px;
    background: #03adf7;
    padding: 21px 40px;
   
  }
  .banner-img-container {
    height: 30rem;
  }

/* gamming section */


  .gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gamer-desc {
    text-align: right;
  }
  .gamer-heading {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #ff42a5;
  }
  .gamer-para {
    margin: 30px 10px;
  }
  .btn-style {

    border: 1px solid black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #f50380 0%, #ff0084 100%));
    padding: 20px 30px;
  
  }
  .para {
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
  }
